[Unit]
Description=Paka First-Boot Setup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/paka-first-boot.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target