[Unit]
Description=Paka Python Application
After=network.target paka-first-boot.service

[Service]
ExecStart=/usr/bin/python3 /opt/paka-project/main.py
WorkingDirectory=/opt/paka-project/
Restart=always  # <--- It's in this file
User=ubuntu
Group=ubuntu
EnvironmentFile=/opt/paka-project/.env

[Install]
WantedBy=multi-user.target